.astronauta {
  max-width: 640px;
  transform: translatey(0px);
  animation: float 5s ease-in-out infinite;
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-38px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes rotate {
  from {
    transform: rotatez(0deg);
  }
  to {
    transform: rotatez(360deg);
  }
}
.animationSpinner {
  animation: rotate 1s linear infinite;
}
